input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: 'Inter', sans-serif;
  background: linear-gradient(75.19deg, #66C8FF -111.88%, rgba(173, 207, 255, 0) 97.14%);
  color: #404040;
  font-weight: 500;
}